
body {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("./imgs/vj1bl0wpasse1.png");    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed  
}



/* Nav Bar section start */
.nav-bar {
    background-color: #1a1a1a;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 3px solid goldenrod;
}

.nav-link  {
    display: flex;
    gap: 20px;
    color: #f0ead6;

}

a {
    color: #f0ead6;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    
}


a:hover {
    color: aquamarine;
    transition: 0.3s ease-in-out;
    display: inline-block;
    scale: 1.1;
    transform: translateY(-3px);
    text-shadow: 0 0 10px aquamarine
    
    
}

.logo-navbar {
    max-height: 50px;
    max-width: auto;
    
}

/* Nav Bar section end */





/* Hero section start */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 500px;
    
}

.hero-title {
        color: #f0ead6;


}

.hero-text {
           color: #f0ead6;
}

h4 {
    color: #f0ead6;
}

.enter-the-guild {
    color: #f0d376;
    margin: 50px;
    font-size: 50px;
    transition: 0.3s ease-in-out;
    background-color: #1a1a1a;
    background: none;
    
}


.enter-the-guild:hover {
    color: aquamarine;
    transition: 0.3s ease-in-out;
    display: inline-block;
    scale: 1.1;
    transform: translateY(-3px);
    text-shadow: 0 0 10px aquamarine
    

}





/* Hero section end */


/* mission board section */

.board-text {

    margin-top: 50px;
}

h2 {
    color: #f0ead6;
}


/* monsters cards */

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    align-items: start;

}

.monster-card {
    background-color: rgba(244, 242, 242, 0.8);
    border: solid rgb(56, 37, 37) 5px;
    padding: 15px;
    transition: 0.3s;
    width: 250px;
    cursor: pointer;

}

.monster-card:hover {
    box-shadow: 0 0 15px var(--glow-color);
    border-color: var(--glow-color);
    transform: translateY(-15px) scale(1.05);
}


.monster-img {
    width: 150px;
    height: auto;
}


/* info box */


button {

    border-radius:20rem ;
    padding: 12px;
    border: none;
    background: #4a4444;
    color: white;
}






